@import url('https://fonts.googleapis.com/css?family=Varela+Round');

html,body{    
    background-image: url('https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA10182_hires.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Varela Round', sans-serif;
}

.navbar {
    background-color: rgba(0,0,0,0.5) !important;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height .10s ease;
       -o-transition: height .10s ease;
          transition: height .10s ease;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 200px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.card-header h3{
color: white;
}

.input-group-prepend span{
width: 40px;
background-color: #FF8412;
color: black;
border:0 !important;
}

fieldset {
	color: white;
	background-color: rgba(0,0,0,0.5) !important;
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove;
}

legend {
    width: auto;
    color: white;
}

.btn-submit{
    color: black;
    background-color: #FF8412;
    width: 100px;
    }
    
.btn-submit:hover{
    color: black;
    background-color: white;
    
}